{% extends 'header_footer.html' %}
{% load static %}

{% block styles %}
<title>যোগাযোগ -পূর্ব বড়ুয়া তরুন সংঘ</title>
{% endblock styles %}

{% block container %}
<div class="bgfixedimg">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 offset-0" style="height: 100%;">
                <div class="subscriptionbox p-5">
                    <h2>আমাদের একটি বার্তা দিন</h2>

                    <form id="feedform" method="post" target="popupwindow">
                        <div class="mb-3">

                            <input type="text" class="form-control" id="name" placeholder="আপনার নাম..">
                        </div>
                        <div class="mb-3">

                            <input type="email" class="form-control" id="mail" placeholder="আপনার ইমেইল..">
                        </div>
                        <div class="mb-3">

                            <input type="text" class="form-control" id="Phone" placeholder="আপনার মোবাইল..">
                        </div>
                        <div class="mb-3">

                            <input type="text" class="form-control" id="subject" placeholder="বিষয় ..">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="Textarea1" rows="3"
                                placeholder="এখানে লিখুন.."></textarea>
                        </div>
                        <input type="submit" value="পাঠান" class="form-control">
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-3 p-5" style="background-color: #fff;">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7176.439644733803!2d89.498747!3d25.928006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e2db95e773569b%3A0xb1ea44a7185c6b93!2sKulaghat%2C%20Bangladesh!5e0!3m2!1sen!2sus!4v1612614110355!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col">
                <h2>তথ্য</h2>
                <p>
                    অরাজনৈতিক, অলাভজনক ও সেচ্ছাসেবী সামাজিক সংগঠন “পূর্ব বড়ুয়া তরুন সংঘ” আমরাই তরুন, আমরাই উদ্যোমি এই
                    স্লোগান নিয়ে ১৩ এপ্রিল ২০১৭ সালে প্রতিষ্ঠিত হয়। সংগঠনটি তার প্রতিষ্ঠালগ্ন থেকে মেধাবী শিক্ষার্থীদের
                    সংবর্ধনা,গরীব শিক্ষার্থীদের আর্থিক সহযোগিতা করা,বন্যায় ক্ষতিগ্রস্থদের সাহায্য, অসহায় দুঃস্থদের মাঝে
                    ইফতার সামগ্রীসহ ঈদবস্ত্র বিতরণ, শীতার্থদের মাঝে শীতবস্ত্র বিতরণ, বৃক্ষরোপণ কর্মসূচী,
                    মাদক-সন্ত্রাস-বাল্যবিবাহ ও সামাজিক অপরাধবিরোধী সচেতনতামূলক সভা, রক্তদান কর্মসূচিসহ বিভিন্ন সামাজিক
                    ও মানবিক কর্মকান্ড
                </p>
                <p>

                    ঠিকানা<br>
                    ডাকঘর- কুলাঘাট,<br>
                    উপজেলা: লালমনিরহাট<br>
                    জেলা: লালমনিরহাট।<br>

                    ই-মেইল: info@ebyabd.com

                </p>
            </div>

        </div>
    </div>
</div>

{%endblock container%}