{% extends 'header_footer.html' %}
{% load static %}

{% block styles %}
<title>পূর্ব বড়ুয়া তরুন সংঘ &#8211; একটি সামাজিক সেচ্ছাসেবী সংগঠন</title>
{% endblock styles %}

{% block container %}
<!--
<div class="w-100">
    <marquee id='scroll_news' style="font-family:Book Antiqua; color: #FFFFFF" bgcolor="#000080">
        <div onMouseOver="document.getElementById('scroll_news').stop();"
            onMouseOut="document.getElementById('scroll_news').start();"><a href="#">News 1</a> News 2 News 3
            News 4
            .......
            More news here </div>
    </marquee>
</div>
-->
<!-----Background Image---->
<div id="themeSlider" class="carousel slide" data-bs-ride="carousel">

    <ol class="carousel-indicators">
        {% for p in photos %}
        <li data-bs-target="#themeSlider" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
        {% endfor %}
        
    </ol>

    <div class="carousel-inner">
        {% for p in photos %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <div class="imgOverlay"></div>
            <img src="{{p.image.url}}" alt="First slide">
            <div class="carousel-caption">
                <h3>{{p.title}}
                </h3>
                <p>{{p.subtitle}}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <a class="carousel-control-prev" href="#themeSlider" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#themeSlider" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>

    <div class="main-text text-center">

    </div>

</div>
<!-----Background Image end----->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="{% url 'our_causes' %}"><img class="img-fluid" src="{% static 'images/go-1.png' %}" alt="our_causes"></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="{% url 'volunteerRegistration' %}"><img class="img-fluid" src="{% static 'images/go-2.png' %}" alt="Join With Us"></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="#"><img class="img-fluid" src="{% static 'images/go-3.png' %}" alt=""></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="#"><img class="img-fluid" src="{% static 'images/Untitled-2.jpg-22.jpg' %}" alt=""></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="#"><img class="img-fluid" src="{% static 'images/coronavirus-cells-banner_1035-18753.jpg' %}"
                    alt=""></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="#"><img class="img-fluid" src="{% static 'images/Donate-Blood.jpg' %}" alt=""></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col bg-light p-4">
            <h3>আমাদের সম্পর্কে</h3>
            <div class="wrapper">

                <img src="{% static 'images/Final-300x300.png' %}" alt="" class="logo">

                <p>অরাজনৈতিক, অলাভজনক ও সেচ্ছাসেবী সামাজিক সংগঠন “পূর্ব বড়ুয়া তরুন সংঘ” আমরাই তরুন, আমরাই উদ্যোমি এই
                    স্লোগান নিয়ে ১৩ এপ্রিল ২০১৭ সালে প্রতিষ্ঠিত হয়। সংগঠনটি তার প্রতিষ্ঠালগ্ন থেকে মেধাবী
                    শিক্ষার্থীদের সংবর্ধনা,গরীব শিক্ষার্থীদের আর্থিক সহযোগিতা করা,বন্যায় ক্ষতিগ্রস্থদের সাহায্য,
                    সম্প্রতি করোনা ভাইরাসের কর্মহীন অসহায় মানুষের মাঝে খাদ্য সামগ্রী বিতরন, অসহায় দুঃস্থদের মাঝে
                    ইফতার সামগ্রীসহ ঈদবস্ত্র বিতরণ, শীতার্থদের মাঝে শীতবস্ত্র বিতরণ, বৃক্ষরোপণ কর্মসূচী,
                    মাদক-সন্ত্রাস-বাল্যবিবাহ ও সামাজিক অপরাধবিরোধী সচেতনতামূলক সভা, রক্তদান কর্মসূচি
                </p>
            </div>
        </div>
        <div class="col">

            <div class="sidebar widget p-4">
                <h3>সর্বশেষ কার্যক্রম</h3>
                <ul>

                    {% for i in news %}

                    {% if forloop.counter < 4 %} <li>
                        <div class="sidebar-thumb">
                            {% if i.image1 %}
                            <img src="{{i.image1.url}}" style="max-height: 300px;" class="img-fluid">
                            {% else %}
                            <img src="{% static 'images/Final.png' %}" style="max-height: 300px;" class="img-fluid">

                            {% endif %}
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{{i.get_absolute_url}}">
                                    <h6>{{i.title}}</h6>
                                </a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time"><i class="fa fa-clock-o"></i> Aug 27, 2015</span>

                        </div><!-- .Sidebar-meta ends here -->
                        </li><!-- .Li ends here -->
                        {% endif %}
                        {% endfor %}


                </ul><!-- .Ul ends here -->
            </div><!-- .Widget ends here -->
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row bg-light">
        <div class="col">
            <div class="d-flex justify-content-center p-4">
                <h3>আমাদের কার্যক্রম সমূহ</h3>
                <ul class="mt-3">
                    <li>সংগঠনটি সর্বদা অরাজনৈতিক ও সামাজিক স্বেচ্ছাসেবী সংগঠন হিসেবে কাজ করবে।</li>
                    <li>গরীব ও মেধাবীদের মধ্যে শিক্ষা উপকরণ ও শিক্ষা সহায়তা প্রদান করা।</li>
                    <li>অসহায় ও দুস্থদের সার্বিক সহায়তা করা।</li>
                    <li>দুরারোগ্য ও ব্যয়বহুল চিকিৎসার রোগে আক্রান্ত রোগীকে সহায়তা প্রদান।</li>
                    <li>গরীবদের মাঝে ইফতার সামগ্রী বিতরণ।</li>
                    <li>যেকোনো প্রাকৃতিক দুর্যোগে ক্ষতিগ্রস্থদের পাশে দাড়ানো।</li>
                    <li>মাদক,সন্ত্রাস,বাল্যবিবাহ রোধসহ সামাজিক অপরাধসমূহের বিরুদ্ধে সবাইকে সচেতন করা ও খেলাধুলা ও
                        সামাজিক কাজকর্মে ছাত্র-যুবকদের অংশগ্রহণে সাহায্য করা।</li>
                    <li>বৃক্ষরোপণ, পরিছন্ন ও পরিবেশবান্ধব কর্মকান্ডে অংশগ্রহণ করা।</li>
                    <li>সংগঠনের সকল সদস্যদের মধ্যে ভ্রাতৃত্ববন্ধন সৃষ্টি করে ঐক্যবদ্ধভাবে সংগঠনটির লক্ষ্য ও উদ্দেশ্য
                        বাস্তবায়ন করা এবং কল্যাণময় সবকিছুতে নিজেদের অন্তর্ভুক্ত করা।</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col">
            <h3>প্রধান উপদেষ্ঠার বানী</h3>
            <div class="wrapper">

                <img src="{% static 'images/Final-300x300.png' %}" alt="" class="logo">

                <p>আমরা ভালবাসা, আশা এবং সামাজিক ন্যায়বিচার সমবেত একটি পৃথিবীর স্বপ্ন দেখি, যেখানে মানুষ মর্যাদা ও
                    নিরাপত্তা নিয়ে বাস করবে। সমাজের অনগ্রসর শ্রেণীকে বিশেষভাবে চরম দরিদ্র, গৃহহীন ও অনাথ শিশুদেরকে
                    শিক্ষা, পুষ্টি ও আশ্রয় সরবরাহের মাধ্যমে তাদের জাতির জন্য সম্পদে পরিণত করা আমাদের প্রধান লক্ষ্য।
                </p>
            </div>
        </div>
        <div class="col">
            <h3>প্রধান উপদেষ্ঠা</h3>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'images/FB_IMG_1598079402580-243x300.jpg' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">জনাব আরমান রহমান</h5>
                            <p class="card-text">বিভাগীয় প্রধান, ইতিহাস বিভাগ, লালমনিরহাট সরকারি কলেজ।</p>
                            <p class="card-text"><small class="text-muted">সম্পাদক লালমনিরহাট জেলা রোভার।<br>

                                    ২৯তম বিসিএস ক্যাডার কর্মকর্তা।</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col">
            <h3>সভাপতির বানী</h3>
            <div class="wrapper">

                <img src="{% static 'images/Final-300x300.png' %}" alt="" class="logo">

                <p>সামাজিক জীব হিসেবে সমাজের জন্য,আমাদের আশেপাশের মানুষদের জন্য সামান্য কিছু করার মাঝে তৃপ্তি খুজে
                    পাওয়ার চেতনা নিয়ে এই সংগঠনের কার্যক্রম পরিচালিত হচ্ছে,আমাদের সংগঠনের সদস্যরা বিশ্বাস করে ভোগে
                    সুখ নেই ত্যাগেই প্রকৃত সুখ এবং দান করার জন্য ধনী হবার প্রয়োজন নেই সুন্দর ইচ্ছাশক্তিই যথেষ্ট।সবার
                    ঐক্যবদ্ধ প্রচেষ্টায় সংগঠনটি সেবা ও মানবকল্যানমুখী কর্মকান্ডে সবসময় সক্রিয় থাকবে মর্মে আমি আশা
                    করি
                </p>
            </div>
        </div>
        <div class="col">
            <h3>সভাপতি</h3>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'images/00-300x298.jpg' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">মো: সায়হান সৈকত</h5>
                            <p class="card-text">সভাপতি</p>
                            <p class="card-text"><small class="text-muted">পূর্ব বড়ুয়া তরুন সংঘ<br>

                                    উদ্যোক্তা, কুলাঘাট ইউনিয়ন ডিজিটাল সেন্টার।</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5" style="background-color: #ccc;">
    <h3 class="p-5">ভিডিও গ্যালারী</h3>
    <div id="carouselVideoControls" class="carousel slide" data-bs-ride="carousel" data-interval="false">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="carousel-video-inner">
                    <iframe width="681" height="383" src="https://www.youtube.com/embed/sgouNC8rUhY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-video-inner">
                    <iframe width="681" height="383" src="https://www.youtube.com/embed/sgouNC8rUhY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselVideoControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselVideoControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row blog" style="margin-top:5rem">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#blogCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#blogCarousel" data-bs-slide-to="1"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123194794_405258353976011_1780211379764436847_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123270999_347084419724907_2057958549407391501_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123463502_3561787297215396_6934336209828262397_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123188282_1038829403260249_2551925143377316523_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123178086_655225608526960_8846219585287794881_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123194794_405258353976011_1780211379764436847_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123270999_347084419724907_2057958549407391501_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{% static 'images/123188282_1038829403260249_2551925143377316523_n.jpg' %}"
                                        alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->
        </div>
    </div>
</div>
<div class="cointainer-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-12 col-sm-6 p-5" style="height: 100%;">
            <h2>আমাদের কার্যক্রমের সাথেই থাকুন</h2>
            <img src="{% static 'images/Final-300x300.png' %}"
                class="d-flex justify-content-center align-items-center img-fluid" alt="Logo">
        </div>
        <div class="col-12 col-sm-6" style="height: 100%;">
            <div class="subscriptionbox">
                <h2>সাবস্ক্রাইব করুন</h2>
                সাবস্ক্রাইব করুন খবর, আপডেট ও প্রচারমূলক অনুষ্ঠানের জন্য
                <form id="feedform" method="post" target="popupwindow">
                    <div class="mb-3">

                        <input type="text" class="form-control" id="name" placeholder="আপনার নাম..">
                    </div>
                    <div class="mb-3">

                        <input type="email" class="form-control" id="mail" placeholder="আপনার ইমেইল..">
                    </div>
                    <div class="mb-3">

                        <input type="text" class="form-control" id="Phone" placeholder="আপনার মোবাইল..">
                    </div>
                    <div class="mb-3">

                        <input type="text" class="form-control" id="subject" placeholder="বিষয় ..">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="Textarea1" rows="3" placeholder="এখানে লিখুন.."></textarea>
                    </div>
                    <input type="submit" value="পাঠান" class="form-control">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5 ">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'images/20200902_155857-1536x708.jpg' %}" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">স্বেচ্ছাসেবক প্রোগ্রামের জন্য নিবন্ধন</h5>
                    <p class="card-text">মানবতার সেবা</p>
                    <p class="card-text"><small class="text-muted">একটি জাতিকে অনুপ্রাণিত করতে আমাদের স্বেচ্ছাসেবী
                            হওয়ার সুযোগ অফিসের কাজ থেকে মাঠকর্মী পর্যায় পর্যন্ত প্রসারিত। আপনার যদি অবহেলিত
                            সম্প্রদায়কে দেওয়ার মত সময় ও কাজ করার প্রতিশ্রুতি থাকে, তাহলে আমাদের টিমে আপনাকে
                            স্বাগত জানাতে অপেক্ষা করছি</small></p>
                    <a href="{% url 'volunteerRegistration' %}" class="btn btn-primary">নিবন্ধন করুন</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}