{% extends 'header_footer.html' %}
{% load static %}

{% block styles %}
<title>পূর্ব বড়ুয়া তরুন সংঘ &#8211; একটি সামাজিক সেচ্ছাসেবী সংগঠন</title>

{% endblock styles %}

{% block container %}

<section>
    <div style="width: 10%;z-index: 2;position: absolute;background-color: red;min-height: 35px;">
        <span style="color: #fff;">
            সর্বশেষ 
        </span>
    </div>
    <div style="z-index: 2;position: absolute;opacity: 70%; width: 90%;right: 0;">
        <marquee id='scroll_news'>
            <div onMouseOver="document.getElementById('scroll_news').stop();"
                onMouseOut="document.getElementById('scroll_news').start();">
                {% for i in news %}
                <a href="{{i.get_absolute_url}}">{{i.title}}</a>
                <span style="margin-right:1rem ;"></span>
                {% endfor %}
            </div>
        </marquee>
    </div>

    <!-----Background Image---->
    <div id="themeSlider" class="carousel slide" data-bs-ride="carousel">

        <ol class="carousel-indicators">
            {% for p in photos %}
            <li data-bs-target="#themeSlider" data-bs-slide-to="{{forloop.counter0}}"
                class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
            {% endfor %}

        </ol>

        <div class="carousel-inner">
            {% for p in photos %}
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                <div class="imgOverlay"></div>
                <img src="{{p.image.url}}" style="max-height: 90vh;" alt="First slide">
                <div class="carousel-caption">
                    <h3>{{p.title}}
                    </h3>
                    <p>{{p.subtitle}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

        <a class="carousel-control-prev" href="#themeSlider" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#themeSlider" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>

        <div class="main-text text-center">

        </div>

    </div>
    <!-----Background Image end----->
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="{% url 'our_causes' %}"><img style="max-width:370px;max-height:140px" class="img-fluid"
                    src="{% static 'images/go-1.png' %}" alt="our_causes"></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="{% url 'volunteerRegistration' %}"><img style="max-width:370px;max-height:140px" class="img-fluid"
                    src="{% static 'images/go-2.png' %}" alt="Join With Us"></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="#"><img style="max-width:370px;max-height:140px" class="img-fluid"
                    src="{% static 'images/go-3.png' %}" alt="get_involved"></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!--
    <div class="row">
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="#"><img style="max-width:370px;max-height:140px" class="img-fluid"
                    src="{% static 'images/Untitled-2.jpg-22.jpg' %}" alt="winter Clothing"></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="{% url 'Covid19' %}"><img style="max-width:370px;max-height:140px" class="img-fluid"
                    src="{% static 'images/coronavirus-cells-banner_1035-18753.jpg' %}" alt="covid19"></a>
        </div>
        <div class="col-12 col-sm-4 mt-3 text-center">
            <a href="{% url 'donate_blood' %}"><img style="max-width:370px;max-height:140px" class="img-fluid"
                    src="{% static 'images/Donate-Blood.jpg' %}" alt="blood donation"></a>
        </div>
    </div>
    -->
    <div class="row mt-5">
        <div class="col bg-light p-4">
            <h3>আমাদের সম্পর্কে</h3>
            <div class="wrapper">

                <img src="{% static 'images/Final-300x300.png' %}" alt="" class="logo">

                <p>অরাজনৈতিক, অলাভজনক ও সেচ্ছাসেবী সামাজিক সংগঠন “পূর্ব বড়ুয়া তরুন সংঘ” আমরাই তরুন, আমরাই উদ্যোমি এই
                    স্লোগান নিয়ে ১৩ এপ্রিল ২০১৭ সালে প্রতিষ্ঠিত হয়। সংগঠনটি তার প্রতিষ্ঠালগ্ন থেকে মেধাবী
                    শিক্ষার্থীদের সংবর্ধনা,গরীব শিক্ষার্থীদের আর্থিক সহযোগিতা করা,বন্যায় ক্ষতিগ্রস্থদের সাহায্য,
                    সম্প্রতি করোনা ভাইরাসের কর্মহীন অসহায় মানুষের মাঝে খাদ্য সামগ্রী বিতরন, অসহায় দুঃস্থদের মাঝে
                    ইফতার সামগ্রীসহ ঈদবস্ত্র বিতরণ, শীতার্থদের মাঝে শীতবস্ত্র বিতরণ, বৃক্ষরোপণ কর্মসূচী,
                    মাদক-সন্ত্রাস-বাল্যবিবাহ ও সামাজিক অপরাধবিরোধী সচেতনতামূলক সভা, রক্তদান কর্মসূচি
                </p>
            </div>
        </div>
        <div class="col">

            <div class="sidebar widget p-4">
                <h3>সর্বশেষ কার্যক্রম</h3>
                <ul>

                    {% for i in news %}

                    {% if forloop.counter < 4 %} <li>
                        <div class="sidebar-thumb">
                            {% if i.image1 %}
                            <img src="{{i.image1.url}}" style="max-height: 300px;" class="img-fluid">
                            {% else %}
                            <img src="{% static 'images/Final.png' %}" style="max-height: 300px;" class="img-fluid">

                            {% endif %}
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{{i.get_absolute_url}}">
                                    <h6>{{i.title}}</h6>
                                </a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time"><i class="fa fa-clock-o"></i>{{i.created_date}}</span>

                        </div><!-- .Sidebar-meta ends here -->
                        </li><!-- .Li ends here -->
                        {% endif %}
                        {% endfor %}


                </ul><!-- .Ul ends here -->
            </div><!-- .Widget ends here -->
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row bg-light">
        <div class="col">
            <div class="d-flex justify-content-center p-4">
                <h3>আমাদের কার্যক্রম সমূহ</h3>
                <ul class="mt-3">
                    <li>সংগঠনটি সর্বদা অরাজনৈতিক ও সামাজিক স্বেচ্ছাসেবী সংগঠন হিসেবে কাজ করবে।</li>
                    <li>গরীব ও মেধাবীদের মধ্যে শিক্ষা উপকরণ ও শিক্ষা সহায়তা প্রদান করা।</li>
                    <li>অসহায় ও দুস্থদের সার্বিক সহায়তা করা।</li>
                    <li>দুরারোগ্য ও ব্যয়বহুল চিকিৎসার রোগে আক্রান্ত রোগীকে সহায়তা প্রদান।</li>
                    <li>গরীবদের মাঝে ইফতার সামগ্রী বিতরণ।</li>
                    <li>যেকোনো প্রাকৃতিক দুর্যোগে ক্ষতিগ্রস্থদের পাশে দাড়ানো।</li>
                    <li>মাদক,সন্ত্রাস,বাল্যবিবাহ রোধসহ সামাজিক অপরাধসমূহের বিরুদ্ধে সবাইকে সচেতন করা ও খেলাধুলা ও
                        সামাজিক কাজকর্মে ছাত্র-যুবকদের অংশগ্রহণে সাহায্য করা।</li>
                    <li>বৃক্ষরোপণ, পরিছন্ন ও পরিবেশবান্ধব কর্মকান্ডে অংশগ্রহণ করা।</li>
                    <li>সংগঠনের সকল সদস্যদের মধ্যে ভ্রাতৃত্ববন্ধন সৃষ্টি করে ঐক্যবদ্ধভাবে সংগঠনটির লক্ষ্য ও উদ্দেশ্য
                        বাস্তবায়ন করা এবং কল্যাণময় সবকিছুতে নিজেদের অন্তর্ভুক্ত করা।</li>

                </ul>
            </div>
        </div>
    </div>
</div>

{% for i in quotes %}
<div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col">
            <h3>{{i.designation}}র বানী</h3>
            <div class="wrapper">

                <img src="{% static 'images/Final-300x300.png' %}" alt="" class="logo">

                <p>
                    {{i.description|safe}}
                </p>
            </div>
        </div>
        <div class="col">
            <h3 style="margin-bottom:4rem">{{i.designation}}</h3>
            <div class="card mb-3">
                <div class="row g-0">
                    {% if i.image %}
                    <div class="col-md-4">
                        <img src="{{i.image.url}}" class="img-fluid" alt="{{i.designation}}">
                    </div>
                    {%else%}

                    <div class="col-md-4">
                        <img src="{% static 'images/avatar-1577909_1280.png' %}" class="img-fluid"
                            alt="{{i.designation}}">
                    </div>
                    {% endif %}

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">{{i.occupation}},<br> {{i.organization}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if videos %}
<div class="container-fluid mt-5" style="background-color: #ccc;">
    <h3 class="p-5">ভিডিও গ্যালারী</h3>
    <div id="carouselVideoControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">

            {% for i in videos %}
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                <div class="carousel-video-inner">
                    <iframe width="681" height="383" src="{{i.external_video_storage}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            {% endfor %}



        </div>
        <a class="carousel-control-prev" href="#carouselVideoControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselVideoControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endif %}
<!--All the project list start-->
{% if projects %}
<div class="container-fluid text-center my-3">

    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-interval="false">
            <div class="carousel-inner w-100" role="listbox">

                {% for i in projects %}
                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                    <div class="col-md-4">
                        <a href="{{i.get_absolute_url}}">
                            <div class="card card-body">
                                <img class="img-fluid" src="{{i.bannerImage.url}}">
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>
{% endif %}
<!--All the project list end-->
<div class="cointainer-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-12 col-sm-6 p-5" style="height: 100%;">
            <h2>আমাদের কার্যক্রমের সাথেই থাকুন</h2>
            <img src="{% static 'images/Final-300x300.png' %}"
                class="d-flex justify-content-center align-items-center img-fluid" alt="Logo">
        </div>
        <div class="col-12 col-sm-6" style="height: 100%;">
            <div class="subscriptionbox">
                <h2>সাবস্ক্রাইব করুন</h2>
                সাবস্ক্রাইব করুন খবর, আপডেট ও প্রচারমূলক অনুষ্ঠানের জন্য <br>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="alert-box {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="POST" action="{% url 'home' %}" id="application-form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="পাঠান" class="form-control">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5 ">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'images/20200902_155857-1536x708.jpg' %}" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">স্বেচ্ছাসেবক প্রোগ্রামের জন্য নিবন্ধন</h5>
                    <p class="card-text">মানবতার সেবা</p>
                    <p class="card-text"><small class="text-muted">একটি জাতিকে অনুপ্রাণিত করতে আমাদের স্বেচ্ছাসেবী
                            হওয়ার সুযোগ অফিসের কাজ থেকে মাঠকর্মী পর্যায় পর্যন্ত প্রসারিত। আপনার যদি অবহেলিত
                            সম্প্রদায়কে দেওয়ার মত সময় ও কাজ করার প্রতিশ্রুতি থাকে, তাহলে আমাদের টিমে আপনাকে
                            স্বাগত জানাতে অপেক্ষা করছি</small></p>
                    <a href="{% url 'volunteerRegistration' %}" class="btn btn-primary">নিবন্ধন করুন</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#application-form label').hide();

    $('#recipeCarousel.carousel .carousel-item').each(function () {
        var minPerSlide = 3;
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < minPerSlide; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });

</script>
{% endblock container %}