{% extends 'header_footer.html' %}
{% load static %}

{% block styles %}
<title>{{user.username}}</title>
{% endblock styles %}

{% block container %}

<div class="d-flex" id="dashboard_wrapper" style="background: white !important;">
    <!-- Sidebar-->
    <div class="bg-light border-right" id="sidebar-wrapper">

        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="#!" rel="notification">Notification</a>
            <a class="list-group-item list-group-item-action bg-light" href="#!" rel="volunteer_registration">Volunteer
                Registration</a>
            <a class="list-group-item list-group-item-action bg-light" href="#!" rel="homepage">Home Page</a>
            
        </div>
    </div>
    <!-- Page Content-->
    <div id="page-content-wrapper">
        <button class="btn btn-secondary" id="menu-toggle"> Toggle Side </button>
        <!--Notifications-->
        <div class="container-fluid mt-5" id="notification">

            {% include 'notification_dashboard.html' %}
            

        </div>
        <!--Volunteer Registration-->

        <div class="container-fluid" id="volunteer_registration" style="display: none;">
            {% include 'volunteer_reg_model_dashboard.html' %}
        </div>
        <div class="container-fluid" id="homepage" style="display: none;">
            <a href=" {% url 'admin:index' %} "> Goto Admin Panel</a>
        </div>

    </div>
</div>
<script>
    $('a').on('click', function () {
        var target = $(this).attr('rel');
        $("#" + target).show().siblings("div").hide();

    });

</script>
{%endblock container%}