{% extends 'header_footer.html' %}
{% load static %}

{% block styles %}
<title>{{news.title}} -পূর্ব বড়ুয়া তরুন সংঘ</title>
{% endblock styles %}

{% block container %}

<section id="news-container">

    <br><br>

    <div class="container mt-md-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- the actual blog post: title/author/date/content -->
                <h3>{{news.title}}</h3>
                <br>
                <p class="lead"><i class="fa fa-user"> {{news.reporter_name}}</i>
                </p>
                <hr>
                <p><i class="fas fa-calendar"></i> Posted on {{news.created_date}}</p>
                <p><i class="fa fa-tags"></i> Tags: <span class="badge bg-info text-dark">{{news.tag}}</span></p>
                <hr>
                {{news.description|safe}}

                <br />
                
                {% if news.image1 %}
                <img src="{{news.image1.url}}" class="img-fluid">
                {% endif %}
                
                {% if news.image2 %}
                <img src="{{news.image2.url}}" class="img-fluid">
                {% endif %}
                {% if news.image3 %}
                <img src="{{news.image3.url}}" class="img-fluid">
                {% endif %}
                
                <br />
                <hr>
                <!-- the comment box -->
                <div id="disqus_thread"></div>
                <script>
                    /**
                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document,
                            s = d.createElement('script');
                        s.src = 'https://ideabook-glitch-com.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
            </div>

            <div class="col-lg-4">
                <!-- /well -->
                <br><br><br><br>
                <div class="card my-4">
                    <div class='card-body'>
                        <h4><i class="fa fa-book"></i> You May Also Like:</h4>
                        <div class="row">
                            
                            {% for k in sug %}  
                            
                            {% if forloop.counter < 4 %}
                                
                            <div class="col-lg-12 m-2">
                                <a href="{{k.get_absolute_url}}">
                                    <div class="thumb rounded" style="background-color:#fff;">

                                       
                                        {% if k.image1 %}
                                        <img src="{{k.image1.url}}" style="max-height: 300px;" class="img-fluid">
                                        {% else %}
                                        <img src="{% static 'images/Final.png' %}" style="max-height: 300px;" class="img-fluid">
                                        
                                        {% endif %}
                                          

                                        <div class="thumb thumb-caption">
                                            <figcaption>
                                                <h6>{{k.title}}</h6>

                                            </figcaption>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}

                                
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
</section>

{%endblock container%}