{% extends 'header_footer.html' %}
{% load static %}

{% block styles %}
<title>{{context.project_title}} -পূর্ব বড়ুয়া তরুন সংঘ</title>
{% endblock styles %}

{% block container %}
<div class="container-fluid" id="projects">
    <div id="main_project">
        <div id="version">
            {{context.project_title}}
        </div>
        <div>
            <h1>{{context.project_title}}</h1>
            {{context.description|safe}}
            
        </div>

        <div id="copyright">
            পূর্ব বড়ুয়া তরুন সংঘ © All rights reserved
        </div>

    </div>
</div>
{%endblock container%}